[user]
	name = Erica Moszkowski
	email = erica.moszkowski@gmail.com
[github]
	emoszkowski
[alias]
	br  = branch
	ch  = checkout
	co  = commit
	d   = difftool  
	d   = difftool -g  
	dc  = difftool
	gr  = grep  
	logp = log --graph --all --full-history --color --pretty=format:'%C(yellow)%h%Creset%x09%Cblue%d%Creset %s <%an>'  
	lg  = log --graph --all --full-history --color --abbrev-commit --decorate  
	m   = mergetool --tool=meld 
	st  = status
[core]
[core]
	editor = emacs -nw
	trustctime = false
	excludesfile = /home/rceexm08/.gitignore_global
[url "https://"]
	insteadOf = git://
	pushInsteadOf = git://
[branch]
	autosetuprebase = always
[merge]
	tool = meld
	
[github]
	user = emoszkowski
[diff]
	tool = ediff
	guitool = meld
[difftool]
	prompt = false
