[user]
	name = Erica Moszkowski
	email = erica.moszkowski@gmail.com
[alias]
	d   = difftool  
	d   = difftool -g  
	dc  = difftool  
	logp = log --graph --all --full-history --color --pretty=format:'%C(yellow)%h%Creset%x09%Cblue%d%Creset %s <%an>'  
	lg  = log --graph --all --full-history --color --abbrev-commit --decorate  
	m   = mergetool  
	br  = branch
[core]
[core]
	editor = emacs -nw
	trustctime = false
	excludesfile = /home/rceexm08/.gitignore_global
[url "https://"]
	insteadOf = git://
[branch]
	autosetuprebase = always
	autosetupmerge = always
[merge]
	tool = meld
	
[github]
	user = emoszkowski
[diff]
	tool = ediff
	guitool = meld
